<div class="container">
    <div class="onboarding-container" *ngIf="!!status.showOnboarding">
        <div class="title">Let's plan a productive day ! </div>
        <div class="description">Add your tasks. Track them and be focused through the day</div>
    </div>
    <div class="add-task-container">
        <input type="text" class="add-task" (keyup.enter)="addTask(todo.value)" placeholder="{{inputPlaceholder}}" #todo [class.showOnboarding]="!!status.showOnboarding" (animationiteration)='changePlaceholder()'>

        <a routerLink="/setting" routerLinkActive="active">
            <div class="settings-icon">
                <i class="ion ion-md-more"></i>
            </div>
        </a>

    </div>
    <div class="input-error" *ngIf="!!inputError">
        <div class="error-main">Include task duration in the input</div>
        <div class="error-sub">example: 1h 6m, 1 hour 15 minutes, 25 mins. Just add time in this format anywhere in the description and stors would pick it up</div>
    </div>

    <div class="task-list" dragula="VAMPIRES" [(dragulaModel)]="data.list" *ngIf="!status.showOnboarding">
        <div class="task-list-item" *ngFor="let item of data.list" [id]="item.id" (click)="activateTask(item)" [class.ticked]="!!item.isTicked" [class.active]="(item.id === currentTaskID)">
            <div class="item-title">{{item.name}}</div>
            <div class="item-toolbar" [class.isVisible]="!!item.showToolbar">
                <div class="toolbar-item" (click)="markItemComplete( item )">
                    <i class="ion ion-ios-checkmark-circle"></i>
                </div>
                <div class="toolbar-item" (click)="deleteItem( item )">
                    <i class="ion ion-md-trash"></i>
                </div>
            </div>
            <div class="item-add-time" *ngIf="!!item.isComplete && !item.isTicked">
                <div class="toolbar-item" *ngIf="!!item.isComplete" (click)="addTime( item, 15 )">+15m</div>
                <div class="toolbar-item" *ngIf="!!item.isComplete" (click)="addTime( item, 30 )">+30m</div>
                <div class="toolbar-item" *ngIf="!!item.isComplete" (click)="addTime( item, 60 )">+1hr</div>
            </div>
            <div class="item-time" *ngIf="!item.isComplete && !item.isTicked">{{item.displayTime}}</div>
            <div class="item-progress-bar-container">
                <div class="item-progress-bar" *ngIf="!item.isComplete" [style.width.%]="100-item.progress">
                </div>
            </div>
        </div>
    </div>
    <div class="total-time" *ngIf="!status.showOnboarding">
        <div class="message">ETA: </div>
        <div class="eta">{{eta}} | </div>
        <span class="hrs">{{totalHrs}}h  </span> <span class="mins"> {{totalMins}}m </span>
    </div>
</div>