<div class="container">
    <div class="onboarding-container" *ngIf="!!status.showOnboarding">
        <div class="title">ADDING A TASK</div>
        <div class="description">Just add what you want to do and how much time it would take</div>
        <div class="eg">example:  30 mins Standup <br /> Meeting with Sarah 1hr 15m <br /> 45m Demo of our new product</div>
    </div>

    <input type="text" class="add-task" (keyup.enter)="addTask(todo.value)" placeholder="+ Add a new task" #todo>
    <div class="input-error" *ngIf="!!inputError">
        <div class="error-main">Include task duration in the input</div>
        <div class="error-sub">example: 1h 6m, 1 hour 15 minutes, 25 mins. Just add time in this format anywhere in the description and stors would pick it up</div>
    </div>

    <div class="task-list" *ngIf="!status.showOnboarding">
        <div class="task-list-item"
             *ngFor="let item of data.list"
             [id]="item.id"
             (click)="activateTask(item)"
             [class.ticked] = "!!item.isTicked"
             [class.active] = "(item.id === currentTaskID)"
        >
            <div class="item-time">{{item.displayTime}}</div>
            <div class="item-separator"> | </div>
            <div class="item-title">{{item.name}}</div>
            <div class="done-icon"
                 (click)="markItemComplete( item )">
                <i class="ion ion-ios-checkmark-circle-outline"></i>
            </div>
            <div class="delete-icon"
                 (click)="deleteItem( item )">
                <i class="ion ion-md-trash"></i>
            </div>
            <!--<div class="item-progress-bar-animated" [style.width.%]="item.progress" *ngIf="item.id === currentTaskID"></div>-->
            <div class="item-progress-bar" [style.width.%]="item.progress"></div>
        </div>
    </div>
    <div class="total-time" *ngIf="!status.showOnboarding">
        <div class="message">ETA: </div>
        <span class="hrs">{{totalHrs}}h  </span> <span class="mins"> {{totalMins}}m |</span>
        <div class="eta">{{eta}}</div>
    </div>
</div>
<!--<div class="help drift-open-chat">👋 Feedback</div>-->

